# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

.idea/
serverless_app/.requirements/
serverless_app/__pycache__/
serverless_app/node_modules/
serverless_app/package-lock.json
